// Fonts
$mainFont: "Roboto", sans-serif;

// Media Queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Colors
$primary: #5e311e;
$secondary: #c39c63;
$white: #ffffff;
$black: #000000;
$lightGray: #eceeef;
$lightCoffee: #ebe7de;

// Units
$gutter: 3.5rem;