@use "base/variables" as v;
@use "base/mixins" as m;

.our-testimonials {
    padding: v.$gutter 1.5rem;
    background-color: v.$white;
    margin-top: -30px;

    @include m.md { 
        padding: v.$gutter;
        margin-top: -100px;
    }
}

.testimonial {
    background-color: v.$lightCoffee;
    padding: 2rem;
    border-radius: 1rem;

    @include m.md { 
        width: 75%;
        margin: 0 auto;
        padding: 3rem;
    }

    @include m.lg { 
        width: 50%;
    }

    .author {
        margin: 0;
        text-align: right;
        font-family: v.$tertiaryFont;
        font-size: 1.5rem;
        color: v.$primary;
    }
}