@use "base/variables" as v;
@use "base/mixins" as m;

.header {
    padding: v.$gutter 0; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include m.md { 
        min-height: 700px;
    }
}

.header-content {
    h1 {
        color: v.$white;
        text-align: center;
        text-transform: uppercase;
        margin-top: v.$gutter;

        @include m.md { 
            margin-top: calc(v.$gutter * 2);
        }
    }
}

.header-home {
    background-image: linear-gradient(to right, rgba(0,0,0,.75) 0%, rgba(0,0,0,.75) 100%), url(../img/header_inicio.jpg);
}

.header-about-us {
    background-image: linear-gradient(to right, rgba(0,0,0,.75) 0%, rgba(0,0,0,.75) 100%), url(../img/header_nosotros.jpg);
}

.header-process {
    background-image: linear-gradient(to right, rgba(0,0,0,.75) 0%, rgba(0,0,0,.75) 100%), url(../img/header_proceso.jpg);
}

.header-menu {
    background-image: linear-gradient(to right, rgba(0,0,0,.75) 0%, rgba(0,0,0,.75) 100%), url(../img/header_menu.jpg);
}

.header-gallery {
    background-image: linear-gradient(to right, rgba(0,0,0,.75) 0%, rgba(0,0,0,.75) 100%), url(../img/header_galeria.jpg);
}